.container{
    background-color: #f2f4f8;
    padding: 0rem 5rem 8rem 8rem;
}

.headerContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 4rem;
    border-bottom: 2px solid #ebeaed;
}

.header{
    display:flex;
    flex-direction: row;
    align-content: center;
    padding: 1rem 1rem 1rem 0rem;
}


.logo{
    width: 15rem;
    border-radius: 10px;
}

.searchBar {
    width: 40%;
    border: 3px solid grey;
    padding-left: 1rem;
    height: 40px;
    border-radius: 10px;
    outline: none;
    color: black;
    border: 2px solid grey;
  }
  
  .searchTerm:focus{
    color: black;
}

.articlesColumn{
    display: grid;
    grid-template-columns: 1fr 7fr 2.5fr;
    padding: 1.5rem 2rem;
    background-color: #f2f4f8;
}
  
.title{
    text-align: left;
    font-weight: 800;
    font-size: 1.5rem;
  }

.navigationHeader{
    display: flex;
}

.newsColumn{
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow-y: scroll;
}

.bookmarksWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size:small;
}

.articlesWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 1rem;
    font-size:small;
}

.articleCard{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1000px){
    .newsColumn{
        display:none;
    }
    .articlesColumn{
        grid-template-columns: 1fr 5fr;
    }
    .articlesWrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .bookmarksWrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0rem 8rem;
    }
    .newsColumn{
        display:none;
    }
    .navigationHeader{
        display:none;
    }
    .headerContainer{
        padding: 1rem 2rem;
        align-items: center;
    }
    .header{
        display:none;
    }
    .searchBar {
        min-width: 70%;
    }
    .articlesColumn{
        grid-template-columns: 5fr;
    }
    .articlesWrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .bookmarksWrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
