.container{
    background-color: #f2f4f8;
    padding: 0rem 8rem;
}

.headerContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 4rem;
    border-bottom: 2px solid #ebeaed;
}

.header{
    display:flex;
    flex-direction: row;
    align-content: center;
    padding: 1rem 1rem 1rem 0rem;
}


.logo{
    width: 15rem;
    border-radius: 10px;
}

.searchBar {
    width: 40%;
    border: 3px solid grey;
    padding-left: 1rem;
    height: 40px;
    border-radius: 10px;
    outline: none;
    color: black;
    border: 2px solid grey;
  }
  
  .searchTerm:focus{
    color: black;
}

.articlesContainer{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 1.5rem 2rem;
    background-color: #f2f4f8;
}
  
.title{
    text-align: left;
    font-weight: 800;
    font-size: 1.5rem;
  }

.articlesColumn{
    display: flex;
    
}

.articlesColumn3{
    padding: 2rem;
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: scroll;
}

.bookmarksWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size:small;
}

.articlesWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 1rem;
    font-size:small;
}

.articleCard{
    height: 100%;
    width: 100%;
}

/* @media screen and (max-width: 1000px){
    .articlesContainer{
        grid-template-columns: 1fr 4fr;
    }
} */
