.container{
    background-color: #f2f4f8;
    padding: 0rem 5rem;
}

.headerContainer{
    padding: 0rem 4rem;
}

.header{
    display:flex;
    flex-direction: row;
    align-content: center;
    padding: 1rem 1rem;
    border-bottom: 2px solid #ebeaed;
}

.logo{
    width: 15rem;
    border-radius: 10px;
}

.articlesContainer{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 1.5rem 2rem;
    background-color: #f2f4f8;
}

.searchTerm {
    width: 50%;
    border: 3px solid grey;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    color: black;
  }
  
  .searchTerm:focus{
    color: black;
}
  
.title{
    text-align: left;
    font-weight: 800;
    font-size: 1.5rem;
  }

.articlesColumn{
    display: flex;
    
}

.articlesColumn3{
    padding: 2rem;
    display: flex;
    justify-content:center;
    max-height: 400px;
    overflow-y: scroll;
}

.articlesWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 1rem;
    font-size:small;
}

.articleCard{
    height: 100%;
    width: 100%;
    /* line-height: 2;
    width: 100%;
    height: 100px;
    width: 200px;
    position: relative;
    border-radius: 10px;
    transition: 0.2s ease; */
}

/* @media screen and (max-width: 1000px){
    .articlesContainer{
        grid-template-columns: 1fr 4fr;
    }
} */
