.container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: #bb1e1e;
    height: 3.5rem; 
}

.title{
    padding-left: 13rem;
    color: #fefffe;
    font-size: 18px;
}

.text{
    color: #fefffe;
    font-size: 13px;
    margin-left: -25rem;
}

@media screen and (max-width: 1000px){
    .text{
        display: none;
    }
}

@media screen and (max-width: 420px){
    .title{
        padding-left: 3rem;
    }
}
