.container{
    border-radius: 10px;
    background: white;
}

.newsContainer{
    padding: 1rem;
}

.title{
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
}

.newsCard{
    height: 80px;
    text-align: left;
    padding: 5px 10px;
    background: white;
    font-size: 12px;
    border-bottom: 2px solid #ebeaed;
}

.date{
    color: blue;
    font-size: 10px;
}