.div{
    height: 100%;
    width: 100%;
    position: relative;
    font-size: smaller;
    border-radius: 10px;
}

.link{
    text-decoration: none;
}

.card{
    border-radius: 10px;
}

.title{
    text-align: left;
}

.author{
    text-align: left;
    padding-top: 1em;
}