.div{
    height: 100%;
    width: 100%;
    position: relative;
    font-size: smaller;
    border-radius: 10px;
}

.link{
    text-decoration: none;
}

.card{
    border-radius: 10px;
    filter: brightness(95%);
}

.card:hover {
    cursor: pointer;
    filter: brightness(100%);
  }

.category{
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
}

.title{
    text-align: left;
    padding-top: 0.5em;
    font-size: 15px;
}

.author{
    text-align: left;
    padding-top: 0.5em;
    font-size: 12px;
}