.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
  }
  
  .navigationBar li {
    list-style: none;
    /* width: fit-content; */
    width: 5rem;
    height: 5rem;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #555;
  }

  .navigationBar li:hover {
    border-bottom: 2px solid darkgray;
    cursor: pointer;
  }

  .link{
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    padding-top: 0.5em;
  }

  .img{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid black;
  }